.bar{
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;  
  width: 100%;
  top: 0;
  }
  
.bar i {
  color: red;
  align-items: baseline;
  animation-name: doublearrow;
  
}

@keyframes doublearrow {
  
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  
}


.logo{
  font-family: 'Bungee', cursive;
  
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  